table(width=max_w align="center" class="deviceWidth")&attributes(tableAtt)
  tr
    td(align="center" style="padding: 35px; background-color: #ffffff;" bgcolor=white)
      table(align="center" width="100%")&attributes(tableAtt)
        tr
          td(align="center")
            img(src=img_path+"logo-footer.png" width="37" height="37" style="display: block; border: 0px;")
        tr
          td(class="f_normal" align="center" style=`font-family: ${fallback}; font-size: 14px; line-height: 24px; padding: 5px 0 10px 0;`)
            p(class="f_bold" style="font-size: 14px; line-height: 18px; color: #333333;").
              Plaza Victoria Avenue 1#[br]
              Heredia, CR 40101
        tr
          td(align="left" class="f_normal" style=`font-family: ${fallback}; font-size: 14px; line-height: 24px;`)
            p(class="f_normal" style="font-size: 14px; line-height: 20px; color: #777777;").
              If you didn't create an account using this email address, please ignore this email or #[a(href="#" target="_blank" style="color: #777777;") unsusbscribe].
