table(width="600" align="center" class="mobile-table" bgcolor="#FFFFFF")&attributes(tableAtt)
  tr
    td(align="left" class="bodyMain" bgcolor="#ffffff")
      table(align="left" width="100%")&attributes(tableAtt)
        +vSpacer(20)
        tr
          td(align="left" class="extrapad fSize16") Dear {{customText[Dr|Ms|Mr|Mrs]}} {{accFname}} {{accLname}},
        +vSpacer(12)
        tr
          td(align="left" class="fSize16") {{customText[Discover how Acthar Gel may be an option for your patients with tough-to-treat, persistently active RA. See below for data from a randomized, Phase 4 withdrawal study.|We’re excited to show full Phase 4 study results for Acthar Gel, published in Rheumatology and Therapy. See highlights from the study below.|Take another look at the Acthar Gel Phase 4 RA results presented at the conference. Check out the data below.]}}          
        +vSpacer(12)        
        tr
          td(align="left" class="fSize16") As you may know, Acthar Gel is indicated for adjunctive therapy for short-term administration (to tide the patient over an acute episode or exacerbation) in rheumatoid arthritis, including juvenile rheumatoid arthritis (selected cases may require low-dose maintenance therapy).
        +vSpacer(12)
        tr
          td(align="left" class="bold fSize16")
            strong Select Important Safety Information, Contraindications:
        tr
          td(class="fSize16") Acthar should never be administered intravenously and the administration of live or live attenuated vaccines is contraindicated in patients receiving immunosuppressive doses. Acthar is also contraindicated where congenital infections are suspected in infants and in patients with scleroderma, osteoporosis, systemic fungal infections, ocular herpes simplex, recent surgery, history of or the presence of a peptic ulcer, congestive heart failure, uncontrolled hypertension, primary adrenocortical insufficiency, adrenocortical hyperfunction, or sensitivity to proteins of porcine origin. 
        +vSpacer(12)
        tr
          td(align="left" class="bold fSize16") Please see additional Important Safety Information <a href="#isi-link" class='anchor tUnderline' style="color: #0474C7;">below</a>.
  tr
    td(align="left" class="bodyMain2" bgcolor="#ffffff")
      table(align="left" width="100%")&attributes(tableAtt)
        tr
          td(align="left" class="fSize20") CLINICAL EXPERIENCE, SAFETY, AND TOLERABILITY OF ACTHAR GEL IN PATIENTS WITH PERSISTENTLY ACTIVE RA<sup class="sup">1</sup>
        +vSpacer(25)
        tr
          td(align="left" class="fSize18") Study design
        +vSpacer(15)
        tr
          td(align="center" class="fSize14") A Phase 4, two-part, multicenter, randomized withdrawal study of 259 patients
  +vSpacer(15)
  tr
    td(align="left" class="bodyMain2" bgcolor="#ffffff")
      table(align="left" width="100%")&attributes(tableAtt)
        tr
          td(align="center" bgcolor="#ffffff")
            img(src=img_path+"graph.png" width="440" class="mobile-table" style="line-height:0px;")
  +vSpacer(12)
  tr
    td(align="left" class="bodyMain2Mobile" bgcolor="#ffffff")
      table(align="left" width="100%")&attributes(tableAtt)        
        tr
          td(align="left" width="5" class="fSize12" style="vertical-align: top;") *
          td(align="left" class="fSize12") The proportion of patients who achieved LDA (<span style="white-space:nowrap;word-break:keep-all;">DAS28-ESR</span> &lt;3.2) at Week 12.
  +vSpacer(15)
  tr
    td(align="left" class="bodyMain2" bgcolor="#ffffff")
      table(align="left" width="100%")&attributes(tableAtt)
        tr
          td(align="left" valign="top" width="5" class="bPoint") &bull;
          +hSpacer(12)
          td(align="left" class="bText") 
            strong Part 1: 12-week, open-label treatment period 
  +vSpacer(10)
  tr
    td(align="left" class="bodyMain2" bgcolor="#ffffff")
      table(align="left" width="100%")&attributes(tableAtt)
        tr
          +hSpacer(18,'m-td-w')
          td(align="left" valign="top" width="8" class="bPointHollow") &#9702;
          +hSpacer(12)
          td(align="left" class="fSize16") Patients were required to have persistently active RA defined as <span style="white-space:nowrap;word-break:keep-all;">DAS28-ESR</span> &gt;3.2 despite treatment with a stable low-dose glucocorticoid and required biologic/nonbiologic DMARD(s)
  +vSpacer(10)
  tr
    td(align="left" class="bodyMain2" bgcolor="#ffffff")
      table(align="left" width="100%")&attributes(tableAtt)
        tr
          +hSpacer(40,'m-td-w')
          td(align="left" valign="top" width="5" class="bPoint") &ndash;
          +hSpacer(12)
          td(align="left" class="fSize16") Patients were on stable background medication throughout the study
  +vSpacer(5)
  tr
    td(align="left" class="bodyMain2" bgcolor="#ffffff")
      table(align="left" width="100%")&attributes(tableAtt)
        tr
          +hSpacer(40,'m-td-w')
          td(align="left" valign="top" width="5" class="bPoint") &ndash;
          +hSpacer(12)
          td(align="left" class="fSize16") Patients received Acthar Gel 80 U SC twice a week for 12 weeks, a dosage that previous studies suggest is effective
  +vSpacer(5)
  tr
    td(align="left" class="bodyMain2" bgcolor="#ffffff")
      table(align="left" width="100%")&attributes(tableAtt)
        tr
          +hSpacer(40,'m-td-w')
          td(align="left" valign="top" width="5" class="bPoint") &ndash;
          +hSpacer(12)
          td(align="left" class="fSize16") Patients who did not achieve low disease activity (LDA) (<span style="white-space:nowrap;word-break:keep-all;">DAS28-ESR</span> &lt;3.2) at Week 12 were discontinued from the study
  +vSpacer(10)
  tr
    td(align="left" class="bodyMain2" bgcolor="#ffffff")
      table(align="left" width="100%")&attributes(tableAtt)
        tr
          td(align="left" valign="top" width="5" class="bPoint") &bull;
          +hSpacer(12)
          td(align="left" class="bText") 
            strong Part 2: 12-week, randomized, double-blind withdrawal period 
  +vSpacer(10)
  tr
    td(align="left" class="bodyMain2" bgcolor="#ffffff")
      table(align="left" width="100%")&attributes(tableAtt)
        tr
          +hSpacer(18,'m-td-w')
          td(align="left" valign="top" width="8" class="bPointHollow") &#9702;
          +hSpacer(12)
          td(align="left" class="fSize16") Patients who achieved LDA (<span style="white-space:nowrap;word-break:keep-all;">DAS28-ESR</span> &lt;3.2) at Week 12 were entered into the second portion of the study
  +vSpacer(10)
  tr
    td(align="left" class="bodyMain2" bgcolor="#ffffff")
      table(align="left" width="100%")&attributes(tableAtt)
        tr
          +hSpacer(40,'m-td-w')
          td(align="left" valign="top" width="5" class="bPoint") &ndash;
          +hSpacer(12)
          td(align="left" class="fSize16") Patients were randomly assigned to receive either Acthar Gel 80 U SC twice a week or placebo (1 mL) SC twice a week
  +vSpacer(20)
  tr
    td(align="left" class="bodyMain2" bgcolor="#ffffff")
      table(align="left" width="100%")&attributes(tableAtt)
        tr
          td(align="left" class="fSize18") Study assessments
  +vSpacer(10)
  tr
    td(align="left" class="bodyMain2" bgcolor="#ffffff")
      table(align="left" width="100%")&attributes(tableAtt)
        tr
          td(align="left" class="bText") 
            strong Primary endpoint
  +vSpacer(10)
  tr
    td(align="left" class="bodyMain2" bgcolor="#ffffff")
      table(align="left" width="100%")&attributes(tableAtt)
        tr
          td(align="left" valign="top" width="5" class="bPoint") &bull;
          +hSpacer(12)
          td(align="left" class="fSize16") Proportion of patients who achieved LDA (<span style="white-space:nowrap;word-break:keep-all;">DAS28-ESR</span> &lt;3.2) at Week 12
  +vSpacer(10)
  tr
    td(align="left" class="bodyMain2" bgcolor="#ffffff")
      table(align="left" width="100%")&attributes(tableAtt)
        tr
          td(align="left" class="bText") 
            strong Selected secondary and exploratory endpoints
  +vSpacer(10)
  tr
    td(align="left" class="bodyMain2" bgcolor="#ffffff")
      table(align="left" width="100%")&attributes(tableAtt)
        tr
          td(align="left" valign="top" width="5" class="bPoint") &bull;
          td(align="left" valign="top" width="12" class="") 
          td(align="left" class="fSize16") Proportion of patients who: 
  +vSpacer(10)
  tr
    td(align="left" class="bodyMain2" bgcolor="#ffffff")
      table(align="left" width="100%")&attributes(tableAtt)
        tr
          td(align="left" valign="top" width="18" class="") 
          td(align="left" valign="top" width="8" class="bPointHollow") &#9702;
          td(align="left" valign="top" width="12" class="")           
          td(align="left" class="fSize16") Maintained LDA (<span style="white-space:nowrap;word-break:keep-all;">DAS28-ESR</span> &lt;3.2) from Weeks 12 to 24 
  +vSpacer(5)
  tr
    td(align="left" class="bodyMain2" bgcolor="#ffffff")
      table(align="left" width="100%")&attributes(tableAtt)
        tr
          td(align="left" valign="top" width="18" class="") 
          td(align="left" valign="top" width="8" class="bPointHollow") &#9702;
          td(align="left" valign="top" width="12" class="") 
          td(align="left" class="fSize16") Achieved remission (<span style="white-space:nowrap;word-break:keep-all;">DAS28-ESR</span> &lt;2.6) at Weeks 12 and 24 
  +vSpacer(5)
  tr
    td(align="left" class="bodyMain2" bgcolor="#ffffff")
      table(align="left" width="100%")&attributes(tableAtt)
        tr
          td(align="left" valign="top" width="18" class="") 
          td(align="left" valign="top" width="8" class="bPointHollow") &#9702;
          td(align="left" valign="top" width="12" class="") 
          td(align="left" class="fSize16") Had CDAI score &le;10 at Weeks 12 and 24
  +vSpacer(5)
  tr
    td(align="left" class="bodyMain2" bgcolor="#ffffff")
      table(align="left" width="100%")&attributes(tableAtt)
        tr
          td(align="left" valign="top" width="18" class="") 
          td(align="left" valign="top" width="8" class="bPointHollow") &#9702;
          td(align="left" valign="top" width="12" class="") 
          td(align="left" class="fSize16") Met ACR20, ACR50, and ACR70 criteria at Weeks 12 and 24<sup class="sup">&dagger;</sup> 
  +vSpacer(10)
  tr
    td(align="left" class="bodyMain2" bgcolor="#ffffff")
      table(align="left" width="100%")&attributes(tableAtt)
        tr
          td(align="left" valign="top" width="5" class="bPoint") &bull;
          +hSpacer(12)
          td(align="left" class="fSize16") Changes in patient-reported outcomes and key markers of bone turnover from baseline to Weeks 12 and 24 
  +vSpacer(25) 
  tr
    td(align="left" class="bodyMain2Mobile" bgcolor="#ffffff")
      table(align="left" width="100%")&attributes(tableAtt)
        tr
          td(align="left" width="5" class="fSize12" style="vertical-align:top;") <sup class="sup">&dagger;</sup>
          td(align="left" class="fSize12") ACR50 and ACR70 responses at Week 24 were evaluated post hoc.
  +vSpacer(25)
  tr
    td(align="left" class="bodyMain2" bgcolor="#ffffff")
      table(align="left" width="100%")&attributes(tableAtt)
        tr
          td(align="left" class="fSize18") Study limitations
  +vSpacer(10)
  tr
    td(align="left" class="bodyMain2" bgcolor="#ffffff")
      table(align="left" width="100%")&attributes(tableAtt)
        tr
          td(align="left" valign="top" width="5" class="bPoint") &bull;
          +hSpacer(12)
          td(align="left" class="fSize16") All patients were aware that they were being treated with Acthar Gel during the open-label period. This may have led to higher responses to treatment
  +vSpacer(10)
  tr
    td(align="left" class="bodyMain2" bgcolor="#ffffff")
      table(align="left" width="100%")&attributes(tableAtt)
        tr
          td(align="left" valign="top" width="5" class="bPoint") &bull;
          +hSpacer(12)
          td(align="left" class="fSize16") Sample bias may exist, limiting the extrapolation of the results to the general population:
  +vSpacer(5)
  tr
    td(align="left" class="bodyMain2" bgcolor="#ffffff")
      table(align="left" width="100%")&attributes(tableAtt)
        tr
          +hSpacer(18,'m-td-w')
          td(align="left" valign="top" width="8" class="bPointHollow") &#9702;
          +hSpacer(12)
          td(align="left" class="fSize16") &gt;80% of study participants were of Hispanic or Latino ethnicity
  +vSpacer(5)
  tr
    td(align="left" class="bodyMain2" bgcolor="#ffffff")
      table(align="left" width="100%")&attributes(tableAtt)
        tr
          +hSpacer(18,'m-td-w')
          td(align="left" valign="top" width="8" class="bPointHollow") &#9702;
          +hSpacer(12)
          td(align="left" class="fSize16") Patients with other rheumatic autoimmune diseases, clinically significant infections, or malignancies were excluded from the study
  +vSpacer(10)
  tr
    td(align="left" class="bodyMain2" bgcolor="#ffffff")
      table(align="left" width="100%")&attributes(tableAtt)
        tr
          td(align="left" valign="top" width="5" class="bPoint") &bull;
          +hSpacer(12)
          td(align="left" class="fSize16") The results may not be solely attributed to Acthar Gel because patients were on different stable background medications at the start of the trial, and there were no washout periods. Acthar Gel has not been formally studied in combination with other treatments
  +vSpacer(25)
  tr
    td(align="left" class="bodyMain2" bgcolor="#ffffff")
      table(align="left" width="100%")&attributes(tableAtt)
        tr
          td(align="left" class="fSize18") Results
  +vSpacer(20)
  tr
    td(align="left" class="bodyMain2" bgcolor="#ffffff")
      table(align="left" width="100%")&attributes(tableAtt)
        tr
          td(align="left" class="fSize16 bText") 
            strong The majority of patients achieved the primary endpoint, LDA (<span style="white-space:nowrap;word-break:keep-all;">DAS28-ESR</span> &lt;3.2) at Week 12
  +vSpacer(20)
  tr
    td(align="left" class="bodyMain2" bgcolor="#ffffff")
      table(align="left" width="100%")&attributes(tableAtt)        
        tr
          td(align="left" bgcolor="#ffffff")
            img(src=img_path+"fragment-label.png" width="286" style="line-height:0px;")  
  +vSpacer(15)
  tr
    td(align="left" class="bodyMain2" bgcolor="#ffffff")
      table(align="left" width="100%")&attributes(tableAtt)
        tr
          td(align="center" class="fSize14") 63% (n=163) of patients treated with Acthar Gel achieved LDA (<span style="white-space:nowrap;word-break:keep-all;">DAS28-ESR</span> &lt;3.2) at Week 12 during the open-label period, mITT population<sup class="sup">&Dagger;&sect;</sup>
  +vSpacer(5)
  tr
    td(align="left" class="bodyMain2" bgcolor="#ffffff")
      table(align="left" width="100%" class="mobile-table")&attributes(tableAtt)
        tr
          td(align="center" bgcolor="#ffffff")
            img(src=img_path+"bar-graph.png" width="440" class="mobile-table" style="line-height:0px;")  
  +vSpacer(10)
  tr
    td(align="left" class="bodyMain2" bgcolor="#ffffff")
      table(align="left" width="100%")&attributes(tableAtt)
        tr
          td(align="left" class="fSize16") 19% (n=49) of patients treated with Acthar Gel achieved remission (<span style="white-space:nowrap;word-break:keep-all;">DAS28-ESR</span> &lt;2.6) at Week 12.
  +vSpacer(10)
  tr
    td(align="left" class="bodyMainRef" bgcolor="#ffffff")
      table(align="left" width="100%")&attributes(tableAtt)
        tr
          td(align="left" width="7" class="fSize12" style="vertical-align: top;") <sup class='osup sup'>&Dagger;</sup>
          td(align="left" class="fSize12") Percentages above bars are rounded to the nearest whole number.
  tr
    td(align="left" class="bodyMainRef" bgcolor="#ffffff")
      table(align="left" width="100%")&attributes(tableAtt)        
        tr
          td(align="left" width="7" class="fSize12" style="vertical-align: top;") <sup class='osup sup'>&sect;</sup>
          td(align="left" class="fSize12")
            span(class="f_italic") P 
            | values from 1-sample binomial test (open-label period). 
            span(class="f_italic") P 
            | values denote differences from baseline for the open-label period.
  tr
    td(align="left" class="bodyMainRef" bgcolor="#ffffff")
      table(align="left" width="100%")&attributes(tableAtt)        
        tr
          td(align="left" width="7" class="fSize12" style="vertical-align: top;") <sup class='osup sup'>||</sup>
          td(align="left" class="fSize12")
            span(class="f_italic") P
            | &lt;.0001.
  tr
    td(align="left" class="frags" bgcolor="#ffffff")
      table(align="left" width="100%")&attributes(tableAtt)
        +vSpacer(30)
        tr
          td(align="left" class="fSize18") Safety endpoints 
        +vSpacer(15)
        tr
          td
            table(align="left" width="100%")&attributes(tableAtt)
              tr
                td(align="left" valign="top" width="5" class="bPoint") &bull;
                +hSpacer(12)
                td(align="left" class="fSize16") During the open-label period, 38% (n=98) of patients experienced AEs. Three patients reported serious AEs (chest pain, pneumonia, and craniocerebral injury)
        +vSpacer(10)
        tr
          td
            table(align="left" width="100%")&attributes(tableAtt)
              tr
                td(align="left" valign="top" width="5" class="bPoint") &bull;
                +hSpacer(12)
                td(align="left" class="fSize16") During the double-blind period, 33% (n=25) of patients who received Acthar Gel and 40% (n=31) of patients who received placebo experienced AEs.  No serious AEs were reported
        +vSpacer(10)
  tr
    td(align="left" class="bodyMainCTA")
      table(align="left" width="100%" bgcolor="#FFE5D9")&attributes(tableAtt)
        +vSpacer(15)
        tr
          td(class="mobile-hide ctaButton")
            table&attributes(tableAtt)
              tbody
                tr
                  td(class="fSize16 bText") Connect with an Acthar Specialist to learn more about the full study
                  +hSpacer(60)
                  td(class="")
                    a(href='https://www.actharrheumatologyhcp.com/request-a-rep/?utm_source=veeva&utm_medium=email&utm_campaign=ra_phase_iv_update&utm_content=connect_with_a_rep', target='_blank')
                      img(src=img_path+'button-1.png', width='166', style='border:0; display:block;')
          <!--[if !mso]><!-->
          td(class="mobile-show ctaButton" width="100%" style="display: none")
            table(align="center" width="100%")&attributes(tableAtt)
              tbody
                tr
                  td(class="fSize16 bText bodyMain2" align="center" style="text-align:center;") Connect with an Acthar Specialist to learn more about the full study
                +vSpacer(10)
                tr
                  td(align="center")
                    a(href='https://www.actharrheumatologyhcp.com/request-a-rep/?utm_source=veeva&utm_medium=email&utm_campaign=ra_phase_iv_update&utm_content=connect_with_a_rep', target='_blank')
                      img(src=img_path+'button-1.png', width='166', style='border:0; display:inline-block;')
                +vSpacer(5)
          <!-- <![endif]-->
        +vSpacer(15)
  +vSpacer(20)
  tr  
    td(align="left")
      table(align="left" width="100%")&attributes(tableAtt) {{insertEmailFragments}}
  //- comment this includes during build
  //- include ../../../includes/fragments/additionalresults.pug
  +vSpacer(10)
  tr
    td(align="left" class="bodyMain fSize16" bgcolor="#ffffff")
      table(align="left" width="100%")&attributes(tableAtt)
        tr
          td(align="left" class="fSize16") As always, feel free to reach out with any questions about Acthar Gel. I’m happy to discuss this data in further detail at a later date.
        +vSpacer(15)
        tr
          td(align="left" class="") Sincerely,
        tr
          td(align="left" class="") {{userName}} <br/> {{userEmailAddress}}
        +vSpacer(40)
        tr
          td(align="left" class="fSize12") ACR20=American College of Rheumatology, 20% improvement; ACR50=American College of Rheumatology, 50% improvement; ACR70=American College of Rheumatology, 70% improvement; AEs=adverse events; CDAI=Clinical Disease Activity Index; <span style="white-space:nowrap;word-break:keep-all;">DAS28-ESR</span>=Disease Activity Score with 28 joint count and erythrocyte sedimentation rate; DMARD=disease-modifying antirheumatic drug; FACIT-F=Functional Assessment of Chronic Illness Therapy-Fatigue; HAQ-DI=Health Assessment Questionnaire-Disability Index; mITT=modified intent-to-treat; SC=subcutaneously.
        +vSpacer(10)